@import "variables";
@import "reset";
@import "classes";
@import "media-queries";
@import "utils";
@import "base";
@import "partial _classes";

.container {
  min-height: 100vh;
  display: grid;
  grid:
    "header" auto
    "content" 1fr
    "footer" auto /
    auto;
}

header {
  grid-area: header;
  background: white;
  padding: 1.2rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  a {
    color: var(--primary);
  }
  .header-brand {
    font-size: 4rem;
    font-weight: 700;
  }

  ul {
    display: flex;
    li {
      .header-nav {
        font-size: 1.8rem;
        padding: 10px;
        margin-left: 10px;
        border: 1px solid var(--primary);
        border-radius: 0.375rem;
        color: var(--primary);
      }

      .active {
        background: var(--primary);
        color: white;
        font-weight: 700;
      }
    }
  }
}

.content {
  grid-area: content;
  //   background: red;
  padding: 20px;
}

footer {
  grid-area: footer;
  background: var(--dark-grey);
  padding: 2rem;
  font-size: 1.8rem;
  text-align: center;
  color: white;
}
