@import "variables";
@import "reset";
@import "classes";
@import "media-queries";
@import "utils";
@import "base";
@import "partial _classes";

.container {
  min-height: 100vh;
  display: grid;
  grid:
    "header" auto
    "content" 1fr
    "footer" auto /
    auto;
}

header {
  grid-area: header;
  background: var(--primary);
  padding: 1rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 9px 3px rgba(41, 41, 41, 0.25);
  a {
    color: var(--light);
  }
  .header-brand {
    font-size: 4rem;
    font-weight: 700;
    margin-left: 2rem;
  }

  ul {
    display: flex;
    li {
      .header-nav {
        font-size: 1.8rem;
        padding: 7px;
        margin-left: 10px;
        border: 1px solid var(--light);
        border-radius: 0.375rem;
        color: white;
      }

      .active {
        background: var(--light);
        color: var(--primary);
        font-weight: 700;
      }
    }
  }
}

.content {
  grid-area: content;
  //   background: red;
  padding: 20px;
  background: var(--background);
}

footer {
  grid-area: footer;
  background: var(--dark-grey);
  padding: 2rem;
  font-size: 1.8rem;
  text-align: center;
  color: white;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #666;
}

::-webkit-scrollbar-thumb {
  background-color: #74b9ff;
}
